/*aplicación estílos a + 500px*/

h1,h4{margin-top: 10px;}h1{font-size:1.5rem;}



.p1_top,.p1_left,.p2_left,
.p3_left,.p1_right,.p2_right,
.p3_right,.p1_bottom
{font-size: 1.15rem;}
   
.p1_top_sub,.p1_left_sub,.p2_left_sub,
.p3_left_sub,.p1_right_sub,.p2_right_sub,
.p3_right_sub,.p1_bottom_sub
{font-size:.9rem;}

.imagen_center_wikipedia{width: 170px;height:160px;}

.p1_bottom{margin-top:30px;}

.img_footer_1{width:66px;height:68px;}

.container_footer h2{font-size: 1.3rem;margin:16px; padding:12px;}

.contaniner_sub_footer p{font-size:.95rem;}

@media(min-width:600px)
{
.p1_top,.p1_left,.p2_left,
.p3_left,.p1_right,.p2_right,
.p3_right,.p1_bottom
{font-size: 1.4rem;}
   
.p1_top_sub,.p1_left_sub,.p2_left_sub,
.p3_left_sub,.p1_right_sub,.p2_right_sub,
.p3_right_sub,.p1_bottom_sub
{font-size:1.05rem;}

.imagen_center_wikipedia{width: 195px;height:180px;}

.lupa{width:40px;height:40px;}

.input_busqueda{width: 270px;height:40px;}

.contenedor_boton{ width:205px;}

hr{width:140px;}

.img_footer_1{width:75px;height:77px;margin: 25px;}

.container_footer h2{font-size: 1.3rem;margin:16px; padding:10px;}

.contaniner_sub_footer p{font-size:1.1rem;}